.chat-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .chat-messages{
    padding: 0px 20px;
    margin: 5px 0;
  }
  
//   /* Input box styles */
  .input-box {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    
    input[type="text"] {
      flex: 1;
      padding: 10px;
    }
  
    button {
      margin-left: 10px;
    }
  }
  

.message {
  // padding: 0px 25px;
  // padding-top: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  // border-radius: 20px;
  border: 0;
}

.sent {
  display: flex;
  justify-content: flex-end;
  .message-data{
    background-color: antiquewhite;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 25px;  
    border-radius: 20px 20px 0px 20px;
    p {
      display: flex;
      text-align: left;
      justify-content: flex-end;
    }
    .time{
      font-size: small;
      margin: 0;
    }
  }
}

.received {
  display: flex;
  justify-content: flex-start;
  .message-data{
    background-color: rgb(100, 230, 226);
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 25px;  
    border-radius: 20px 20px 20px 0px;
    p {
      display: flex;
      text-align: left;
      justify-content: flex-start;
    }
    .time{
      font-size: small;
      margin: 0;
    }
  }
}