.justify-text {
    letter-spacing: 0.06em;
    word-spacing: 0.15em;
  }
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .load-more{
    padding: 10px 80px;
    border-radius: 0;
    background-color: transparent;
    color: black;
  }