.contact-button{
    padding: 10px 50px;
    border-radius: 0;
    background-color: transparent;
    color: black;
    width: 12rem;
    height: 4rem;
    margin-top: 100px;
  }
  .login-contact-button{
    padding: 10px 50px;
    margin-top: 100px;
    border-radius: 0;
    background-color: transparent;
    color: black;
    width: 15rem;
    height: 5rem;
  }
  .product-name{
    padding: 0;
    margin: 0;
    font-size: 6rem;
      line-height: 7rem;
      margin-bottom: 10px;
  }
  .logged-in-buttons{
    gap: 2rem;
  }
  .product-info-tag{
      display: flex;
      justify-content: center;
      background-color: rgb(239, 239, 239);
      border-radius: 5px;
      padding: 5px;
      font-size: 0.8rem;
      width: 6rem;
    }
    .product-info-tags{
        display: flex;
        justify-content: start;
        gap: 2rem;
    }