.light-icon {
    color: #ffffff;
}
.search-box{
    width:30vw;
}
.profile-dropdown {
    .dropdown-toggle {
        background-color: transparent !important; 
        border: none; 
    }
    .dropdown-toggle::after {
      display: none; 
    }
    .dropdown-menu {
      border: none; 
      box-shadow: none; 
    }
    .dropdown-item:focus,  .dropdown-item:hover{
      background-color: #2b3035 !important; /* Set the background color to transparent */
      color: #adb5bd !important; /* Set the text color to black */
    }
  }