.error{
    color: red;
    font-size: 12px;
}
.signup-container{
    form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            label{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}