.image-modal{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    .modal-content{
        align-items: center;
        justify-content: center;
        max-width: 70vw;
        border: none;
        width: auto;
    }
    .modal-dialog{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 70vw;
        height: 100%;
    }
    .modal-body{
        max-width: 70vw;
        border: none;

    }
  }
  