body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    ::-webkit-scrollbar {
      width: 0;
    }
    
    ::-webkit-scrollbar-track {
      background: transparent;
    }
    overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.scrollable-content {
  overflow: auto !important;
  height: 75vh; 
}
input, textarea, button:focus{
  outline: 0 !important;
  box-shadow: none !important;
}
.form-control:focus {
  border-color: rgb(184, 184, 184); 
  outline: none !important;
  box-shadow: none !important;
}  
.vh-85{
  height: 85vh !important;
}
.vh-95{
  height: calc(95vh - 190px) !important; 

}
.h-80{
  height: 80vh !important;
}